<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

    <header class="home-header">

        <div class="top-bar-contenedor">
            <div class="home-header-top-bar">
                <a href="/">
                     <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo ML">
                </a>
                 
                 
                 <div class="home__header__div--search-bar">
                     <input type="text" placeholder="Buscar productos, marcas">
                     <button class="search-icon"> <i class="fas fa-search"></i> </button>
                 </div>
     
                 
                 <h2 class="home-header-top-bar--cuotas">
                     <i class="fas fa-hand-holding-usd"></i>
                     Comprá en cuotas y sin tarjeta de crédito
                 </h2>
             </div>
     
             <a class="hamburguer-buttom" href="#">
                 <i class="fas fa-bars"></i>
             </a>
     
             <nav class="home-navbar">
                 <ul class="left-navbar">
                     <li><a href="#">Ofertas</a></li>
                     <li><a href="#">Tiendas Oficiales</a></li>
                     <li><a href="#">Vender</a></li>
                     <li><a href="#">Ayuda</a></li>
                 </ul>
     
                 <ul class="right-navBar">
                     <li><a href="/register">Creá tu cuenta <i class="fas fa-credit-card"></i> </a></li>
                     <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i> </a></li>
                     <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i> </a></li>
                 </ul>
     
             </nav>

        </div>
        

        <div class="home__header__div--banner">
            <img class="home__header_img--banner" src="/images/img-home-banner.jpg" alt="Banner">
        </div>

    </header>



    <main class="home__main">

        <section class="home__main__section--recomendaciones">
            <h2>Basado en tu última visita</h2>

            <div class="home__main__section--recomendaciones__articles">
                <article class="home__main__section--recomendaciones__article">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">

                    <div>
                        <i class="fas fa-truck"></i>

                        <ul class="home__main__section--recomendaciones__article__ul">
                            <li class="home__main__section--recomendaciones__article__ul__li--precio">$6.770</li>
                            <li class="home__main__section--recomendaciones__article__ul__li--descuento">40% OFF</li>
                            <li>
                                <h3 class="product-name">Cafetera Moulinex</h3>
                            </li>
                        </ul>
                    </div>
                </article>

                <article class="home__main__section--recomendaciones__article">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">


                    <div>
                        <i class="fas fa-truck"></i>

                        <ul class="home__main__section--recomendaciones__article__ul">
                            <li class="home__main__section--recomendaciones__article__ul__li--precio">$230.000</li>
                            <li class="home__main__section--recomendaciones__article__ul__li--descuento">20% OFF</li>
                            <li>
                                <h3 class="product-name">MacBook Pro 2019</h3>
                            </li>
                        </ul>
                    </div>

                </article>

                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">


                    <div>

                        <i class="fas fa-truck"></i>
                        <ul class="home__main__section--recomendaciones__article__ul">
                            <li class="home__main__section--recomendaciones__article__ul__li--precio">$70.500</li>
                            <li class="home__main__section--recomendaciones__article__ul__li--descuento">10% OFF</li>
                            <li>
                                <h3 class="product-name">Samsung Galaxy S10</h3>
                            </li>
                        </ul>
                    </div>
                </article>

                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt='SmartTv Samsung 43"'>


                    <div>

                        <i class="fas fa-truck"></i>
                        <ul class="home__main__section--recomendaciones__article__ul">
                            <li class="home__main__section--recomendaciones__article__ul__li--precio">$23.200</li>
                            <li class="home__main__section--recomendaciones__article__ul__li--descuento">5% OFF</li>
                            <li>
                                <h3 class="product-name"> SmartTv Samsung 43" </h3>
                            </li>
                        </ul>
                    </div>
                </article>
            </div>
        </section>


        <section class="home__main__section--ofertas">

            <h2>Ofertas</h2>

            <div class="home__main__section--ofertas__articles">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">

                    <div>

                        <i class="fas fa-truck"></i>

                        <ul class="home__main__section--ofertas__article__ul">
                            <li class="home__main__section--ofertas__article__ul__li--precio">$6.770</li>
                            <li class="home__main__section--ofertas__article__ul__li--descuento">40% OFF</li>
                            <li>
                                <h3 class="product-name">Cafetera Moulinex</h3>
                            </li>
                        </ul>
                    </div>
                </article>

                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">

                    <div>

                        <i class="fas fa-truck"></i>
                        <ul class="home__main__section--ofertas__article__ul">
                            <li class="home__main__section--ofertas__article__ul__li--precio">$230.000</li>
                            <li class="home__main__section--ofertas__article__ul__li--descuento">20% OFF</li>
                            <li>
                                <h3 class="product-name">MacBook Pro 2019</h3>
                            </li>
                        </ul>
                    </div>
                </article>

                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">

                    <div>

                        <i class="fas fa-truck"></i>

                        <ul class="home__main__section--ofertas__article__ul">
                            <li class="home__main__section--ofertas__article__ul__li--precio">$70.500</li>
                            <li class="home__main__section--ofertas__article__ul__li--descuento">10% OFF</li>
                            <li>
                                <h3 class="product-name">Samsung Galaxy S10</h3>
                            </li>
                        </ul>
                    </div>
                </article>

                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt='SmartTv Samsung 43"'>

                    <div>

                        <i class="fas fa-truck"></i>
                        <ul class="home__main__section--ofertas__article__ul">
                            <li class="home__main__section--ofertas__article__ul__li--precio">$23.200</li>
                            <li class="home__main__section--ofertas__article__ul__li--descuento">5% OFF</li>
                            <li>
                                <h3 class="product-name"> SmartTv Samsung 43" </h3>
                            </li>
                        </ul>
                    </div>
                </article>
            </div>
        </section>

    </main>




    <footer class="home__footer">


        <section class="home__footer__section--pagos">

            <div>
                <i class="fas fa-credit-card"></i>
            </div>

            <h4> Pagá con tarjeta o en efectivo </h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section class="home__footer__section--envio-gratis">

            <div>
                <i class="fas fa-gift"></i>
            </div>


            <h4> Envío gratis desde $ 2.500 </h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section class="home__footer__section--compra-protegida">

            <div>
                <i class="fas fa-user-shield"></i>
            </div>


            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>

        <section class="home__footer__section--copyright">
            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        </section>


    </footer>


</body>

</html>