<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>


<body class="login">

    <header class="home-header">

        <div class="home-header-top-bar">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo ML">
            
            <div class="home__header__div--search-bar">
                <input type="text" placeholder="Buscar productos, marcas">
                <button class="search-icon"> <i class="fas fa-search"></i> </button>
            </div>

            
            <h2 class="home-header-top-bar--cuotas">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <a class="hamburguer-buttom" href="#">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="home-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navBar">
                <li><a href="/register">Creá tu cuenta <i class="fas fa-credit-card"></i> </a></li>
                <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i> </a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i> </a></li>
            </ul>

        </nav>

        <div class="home__header__div--banner">
            <img class="home__header_img--banner" src="/images/img-home-banner.jpg" alt="Banner">
        </div>

    </header>


    <main class="container">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-6 mx-auto">
                <div class="card shadow">
                    <div class="card-body">
                        <h3>Inicia Sesión</h3>
                        <hr>
                                                
                        <div class="col-12 mb-3">
                                <label class="form-label" for="user">Nombre de Usuario</label>
                                <input class="form-control" type="text" id="user" name="user" placeholder="Nombre de Usuario">
                            </div>

                            <div class="col-12 mb-3">
                                <label class="form-label" for="password">Contraseña</label>
                                <input class="form-control" type="password" id="password" name="password" placeholder="Elegí tu contraseña"required>
                                <a class="text-dark small" href="">Olvidé mi Contraseña</a>
                            </div>
                            
                            <div class="d-flex justify-content-around">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="remember">
                                    <label class="form-check-label" for="remember">
                                    Recordar Contraseña
                                    </label>
                                </div>

                                <button class="btn btn-dark">Ingresar</button>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </main>

    
</body>
</html>