<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="register">

    <header class="home-header">

        <div class="home-header-top-bar">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo ML">
            
            <div class="home__header__div--search-bar">
                <input type="text" placeholder="Buscar productos, marcas">
                <button class="search-icon"> <i class="fas fa-search"></i> </button>
            </div>

            
            <h2 class="home-header-top-bar--cuotas">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <a class="hamburguer-buttom" href="#">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="home-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navBar">
                <li><a href="/register">Creá tu cuenta <i class="fas fa-credit-card"></i> </a></li>
                <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i> </a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i> </a></li>
            </ul>

        </nav>

        <div class="home__header__div--banner">
            <img class="home__header_img--banner" src="/images/img-home-banner.jpg" alt="Banner">
        </div>

    </header>

    <body>
        <main class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 mt-5">
                    <h3>Formulario de Registro</h3>
                    <form id="registration-form" method="post" action="/register">
                        <div class="mb-3">
                            <label for="nombreApellido" class="form-label">Nombre y Apellido</label>
                            <input type="text" class="form-control" id="nombreApellido" name="nombreApellido" required>
                        </div>
                        <div class="mb-3">
                            <label for="nombreUsuario" class="form-label">Nombre de Usuario</label>
                            <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario" required>
                        </div>
                        <div class="mb-3">
                            <label for="fechaNacimiento" class="form-label">Fecha de nacimiento</label>
                            <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento" required>
                        </div>
                        <div class="mb-3">
                            <label for="domicilio" class="form-label">Domicilio</label>
                            <input type="text" class="form-control" id="domicilio" name="domicilio" required>
                        </div>
                        <div class="mb-3">
                            <label for="perfilUsuario" class="form-label">Perfil del usuario</label>
                            <select class="form-control" id="perfilUsuario" name="perfilUsuario" required>
                                <option value="" disabled selected>Seleccione una opción</option>
                                <option value="comprar">Comprar</option>
                                <option value="vender">Vender</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Categorías de interés</label><br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="categoriaElectro" name="categorias[]" value="Electro">
                                <label class="form-check-label" for="categoriaElectro">Electro</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="categoriaModa" name="categorias[]" value="Moda">
                                <label class="form-check-label" for="categoriaModa">Moda</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="categoriaHogar" name="categorias[]" value="Hogar">
                                <label class="form-check-label" for="categoriaHogar">Hogar</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="categoriaJugueteria" name="categorias[]" value="Juguetería">
                                <label class="form-check-label" for="categoriaJugueteria">Juguetería</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="categoriaVidaSana" name="categorias[]" value="Vida sana">
                                <label class="form-check-label" for="categoriaVidaSana">Vida sana</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="fotoUsuario" class="form-label">Foto de usuario</label>
                            <input type="file" class="form-control" id="fotoUsuario" name="fotoUsuario" accept="image/*" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="mb-3">
                            <label for="confirmarPassword" class="form-label">Confirmar contraseña</label>
                            <input type="password" class="form-control" id="confirmarPassword" name="confirmarPassword" required>
                        </div>
                        <div class="d-grid gap-2">

                            <a href="/"> 
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </a>

                            <button type="reset" class="btn btn-secondary">Borrar datos</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </body>

    



</body>
</html>