.home__footer {
    text-align: center;
    border: 1px solid var(--colorGrisClaro);
    color: var(--colorGrisOscuro);
}


.home__footer section div i {
    color: var(--colorCeleste);
    font-size: 2em;
    margin-top: 10%;
    margin-bottom: 10px;
}

.home__footer section h4 {
    font-size: 15px;
    font-weight: 700px;
}

.home__footer section p {
    margin: 0 10% 0;
    text-align: center;
}


.home__footer__section--copyright {
    margin: 10% 4% 2%;
    text-align: left;
}


/* TABLET */

@media (min-width:361px) {

   
    
}



/* DESKTOP */

@media (min-width:769px) {

    .home__footer {
        display: flex;
        flex-wrap: wrap;
    }

    .home__footer__section--pagos {
        width: 30%;
    }

    .home__footer__section--envio-gratis{
        width: 30%;
    }

    .home__footer__section--compra-protegida {
        width: 30%;
    }

    .home__footer__section--copyright {
        width: 100%;
        font-size: 0.9rem;
    }
   
    
}
