:root {
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;

    --tipografia-roboto: 'Roboto', sans-serif;
    --tipografia-general: 12px;
    --tipografia-titulos: 24px;
    --tipografia-precio: 18px;
    --tipografia-descuento: 16px;
    --tipografia-descripcion: 16px;



}

*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}



body {

    font-family: var(--tipografia-roboto);
    font-size: var(--tipografia-general);
}

a {
    text-decoration: none;
    color: black;
}
