/* header mobile */

.home-header {
    background: var(--colorAmarillo);
    padding: 20px;
    
}

.home-header-top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    width: 100px;
    
}

.home__header__div--search-bar input{
    width: 100%;
    position: relative;
    height: 25px;
    padding: 4%;
}


.home__header__div--search-bar button {
    background-color: transparent;
    border: none;
    position: absolute;
    z-index: 1;
    margin-top: 2%;
    margin-left: -5%;
}


.home-header-top-bar--cuotas {
    font-weight: 400;
    text-align: center;
    width: 100%;
    margin-top: 5%;
}

.home-navbar {
    display: none;
}

.home-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.home-navbar a {
    display: inline-block;
    padding: 5px 0;
    font-size: 18px;

}

.hamburguer-buttom {
    background: var(--colorCeleste);
    color: white;
    display: block;
    max-width: 50px;
    padding: 10px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 24px;
    margin: auto;
    margin-top: 2%;
}

.home__header__div--banner{
    display: none;
}


/* TABLET */

@media (min-width: 361px) {

  
    .logo {
        width: 30%;      
    }

    .home__header__div--search-bar{
        width: 30%;
        margin-top: 1%;
    }

    .home__header__div--search-bar button {
        margin-top: 1%;
        margin-left: -3%;
    }
    
    .home-header-top-bar--cuotas {
        width: 30%;
        max-width: 200px;
        text-align: right;
        font-size: 14px;
        margin-top: 1%;
    }


    .hamburguer-buttom {
        display: none;
    }

    .home-navbar {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .left-navbar{
        display: flex;
        width: 100%;
        gap: 2%;
    }

    .right-navBar{
        display: flex;
        width: 100%;
        gap: 2%;
    }

    .home-navbar li {
        font-size: 8px;
    }




}

/* DESKTOP */

@media (min-width: 769px) {

    .home-header{
     padding-bottom: 0px;   
    }

    .logo{
        width: 250px;
    }

    .home-header-top-bar, .main-navbar {
        max-width: 1200px;
        margin: auto;
    }

    .home-header-top-bar {
        align-items: center;
    }

    .home-header-top-bar--cuotas {
        margin: 0;
        max-width: none;
        font-size: 22px;
        font-weight: 400;
    }


    .home-navbar {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        gap: 10%;
    }

    .home-navbar ul {
        display: flex;
        width: 40%;
        
    }

    .home-navbar li {
        margin: 0 10px;
    }

    .home-navbar a {
        font-size: 19px;
    }


    .home__header__div--banner {
        display: inline-block;
        margin-left: -20px;        
    }

    .home__header__div--banner img{
        width: 100%;
        height: auto;
        
    }

}