/* MAIN */

.home__main {
    /* width: 90vw; */
    background-color: var(--colorGrisClaro);
}

.home__main h2 {
    font-size: var(--tipografia-titulos);
    color: var(--colorGrisOscuro);
    text-align: left;
    padding: 15px;
    
}

.home__main section article {
    background: #ffffff;
    margin: 15px;
    width: 90%;
    
}

.home__main section article img {
    width: 100%;
}

.home__main section article div {
    border: 1px solid var(--colorGrisClaro);
    padding: 15px;
    position: relative;
        
}


.home__main section article i {
   
    color: var(--colorVerde);
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--colorVerde);
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: transform 3s;

}

.home__main__section--recomendaciones__article__ul,
.home__main__section--ofertas__article__ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.home__main__section--recomendaciones__article__ul__li--precio, 
.home__main__section--ofertas__article__ul__li--precio {
    font-size: var(--tipografia-precio);
    list-style: none;
    width: 30%;
    
}

.home__main__section--recomendaciones__article__ul__li--descuento, 
.home__main__section--ofertas__article__ul__li--descuento {
    font-size: var(--tipografia-descuento);
    list-style: none;
    color: var(--colorVerde);
    margin-bottom: 5%;
    width: 70%;
}

.home__main section article ul li {
    list-style: none;
}

.product-name {
    font-size: var(--tipografia-descripcion);
    color: var(--colorGrisOscuro);
    margin-bottom: 5%;
    display: none;    

}

.home__main section article:hover .product-name {
    display: block;
 
}

.home__main section article:hover {
    box-shadow: 0px 0px 22px 8px rgb(247 214 3);
}

.home__main section article:hover i{
    transform: rotate(-90deg);
}







/* TABLET */

@media (min-width:361px) {

   
    .home__main__section--recomendaciones__articles,
    .home__main__section--ofertas__articles{
        display: flex;
        flex-wrap: wrap;
    }

    .home__main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 40%;
    }

 

    .home__main__section--recomendaciones__article__ul__li--precio, 
    .home__main__section--ofertas__article__ul__li--precio {
        width: 50%;
        
    }

    .home__main__section--recomendaciones__article__ul__li--descuento, 
    .home__main__section--ofertas__article__ul__li--descuento {
        width: 50%;
    }
    

    
    .product-name {
        display: block;
    }  
    
}



/* DESKTOP */

@media (min-width:769px) {

    .home__main section article {
        width: 20%;
    }

    .home__main__section--recomendaciones__article__ul,
.home__main__section--ofertas__article__ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}


    .home__main__section--recomendaciones__article__ul__li--precio, 
.home__main__section--ofertas__article__ul__li--precio {
     width: 30%;
    
}

.home__main__section--recomendaciones__article__ul__li--descuento, 
.home__main__section--ofertas__article__ul__li--descuento {
    width: 70%;
}
   
    
}

